@import "./fonts.css";

body {
  font-family: "Roboto", sans-serif;
}

.container {
  padding: 20px 40px;
  max-width: 1280px;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 4px;
  font-weight: 500;
  color: rgb(49, 162, 228);
}

p {
  font-size: 26px;
  text-align: center;
  letter-spacing: 3px;
  color: rgb(14, 103, 155);
}

h4 {
  font-weight: 200;
  text-align: center;
  color: rgb(14, 103, 155);
}

img {
  display: block;
  margin: 0 auto; 
} 
